# macOS
.DS_Store

# R
.Rhistory

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/
.env/

# Editors and IDEs
.vscode/
.idea/

# Jupyter notebooks
.ipynb_checkpoints/
*.ipynb

# Local config
.python-version

# Large data files and model weights
data/
*.tar.gz
models/*.pt

# Docker
*.log
*.pid

